
body {
  background-color: #F4F3F3;
  padding: 30px;
  font-weight: 400;
  font-size: 16px;
  font-family: sans-serif;
}

.toolbar {
  display: flex;
  width: 100%;
  line-height: 70px;
}

.title {
  flex-grow: 1;
  font-size: 24px;
}

.toggle {
  flex-grow: 1;
}

.toggle label {
  float: right;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.content {
  display: flex;
  column-gap: 10px;
  width: 100%;
}

.content .container {
  flex-grow: 1;
}

.library-name {
  text-align: center;
  padding: 18px 20px;
  justify-content: space-between;
  flex-grow: 1;
  background-color: #DFDFDF;
  border: none;
  box-shadow: 0 0 0 calc(1px / var(--scale-x, 1)) rgba(63, 63, 68, 0.05),
    0 1px calc(3px / var(--scale-x, 1)) 0 rgba(34, 33, 81, 0.15);
  border-radius: calc(4px / var(--scale-x, 1));
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  font-family: sans-serif;
}

.list {
  width: 100%;
}

.sortable-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.sortable-item {
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  padding: 18px 20px;
  background-color: #fff;
  box-shadow: 0 0 0 calc(1px / var(--scale-x, 1)) rgba(63, 63, 68, 0.05),
    0 1px calc(3px / var(--scale-x, 1)) 0 rgba(34, 33, 81, 0.15);
  border-radius: calc(4px / var(--scale-x, 1));
  box-sizing: border-box;
  list-style: none;
  color: #333;
}

.sortable-item span {
  padding-left: 30px;
}

.dragging-dbd-kit {
  background-color: #BFD8D5;
}

.dragging-handle-container {
  float: right;
  display: flex;
  width: 30px;
  min-height: 1px;
}

.dragging-handle {
  display: flex;
  width: 12px;
  padding: 5px 15px;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  touch-action: none;
  cursor: var(--cursor, pointer);
  border-radius: 5px;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.dragging-handle:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dragging-handle svg {
  flex: 0 0 auto;
  margin: auto;
  height: 100%;
  overflow: visible;
  fill: #919eab;
}

.dragging-react-sortable-hoc {
  pointer-events: 'auto';
  cursor: 'grabbing';
  background-color: #B1BED5;
}
